{% extends 'base.html' %}
 <title>{% block title %}My amazing Polls application{% endblock %}</title>
{% block content %}

<h2>Welcome to python</h2>
<p>python is a general purpose language and highlevel programing language.
it easy to learn.python is supported moduls and pakages. </p>
<p>python is a general purpose language and highlevel programing language.
it easy to learn.python is supported moduls and pakages. </p>
<p>python is a general purpose language and highlevel programing language.
it easy to learn.python is supported moduls and pakages. </p>
<p>python is a general purpose language and highlevel programing language.
it easy to learn.python is supported moduls and pakages. </p>
<p>python is a general purpose language and highlevel programing language.
it easy to learn.python is supported moduls and pakages. </p>
<p>python is a general purpose language and highlevel programing language.
it easy to learn.python is supported moduls and pakages. </p>
<p>python is a general purpose language and highlevel programing language.
it easy to learn.python is supported moduls and pakages. </p>
  <p>python is a general purpose language and highlevel programing language.
it easy to learn.python is supported moduls and pakages. </p>



 {% endblock %}
